@blockName: movie-form-dialog;

.@{blockName} {

  &__form-button {
    margin: 30px 10px;
    width: 25%;
    min-width: 160px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
  }

  &__reset-button {
    background: none;
    border: 1px solid #f65261;
    color: #f65261;
  }

  &__submit-button,
  &__save-button,
  &__confirm-button {
    background-color: #f65261;
    border: none;
    color: #fff;
  }

  &__close-button {
    border: none;
    background: none;
    color: #fff;

    .MuiSvgIcon-root {
      font-size: 30px;
    }
  }

  .select-input {

    .MuiSvgIcon-root {
      fill: #f65261;
      font-size: 2rem;
    }
  }

  .MuiDialog-paper,
  .MuiDialogContent-root {
    color: #fff;
  }

  .MuiDialog-paper {
    min-width: 300px;
    background-color: #232323;
  }

  .MuiDialogTitle-root {

    .MuiTypography-root {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
    }
  }

  label + .MuiInput-formControl {
    margin-top: 25px;
  }
}
